Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveAssignments: false
BinPackParameters : false
ColumnLimit: 100
IndentWidth: 4
BreakConstructorInitializersBeforeComma: true
DerivePointerAlignment: false
PointerAlignment: Left