language: cpp
os: linux

jobs:
  include:
    - dist: bionic
      compiler: clang
    - dist: bionic
      compiler: gcc
    - dist: xenial
      compiler: clang
    - dist: xenial
      compiler: gcc
    - dist: trusty
      compiler: clang
    - dist: trusty
      compiler: gcc
    - arch: arm64
      compiler: gcc
      dist: bionic

script:
  - mkdir build && cd build && cmake ..
  - make
  - ctest -V
