language: cpp
os: linux

jobs:
  include:
    - dist: bionic
      compiler: clang
    - dist: bionic
      compiler: gcc
    # - dist: xenial
    #   compiler: clang
    # - dist: xenial
    #   compiler: gcc

script:
  - mkdir build && cd build && cmake ..
  - make
  - ctest -V
